// Import page-specific CSS files here.
@import "components/walk_request";
@import "components/badge";

.card-dog-dash {
  background: white;
  height: 250px;
  width: 100%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.10) 0px 50px 150px -20px;
  margin-top: 10px;
  margin-bottom: 10px;

  .card-actions-dash {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;

    .delete-dog {
      padding-right: 20px;
    }
  }

  .card-info-dash {
    padding-top: 0;
    ul {
      list-style: none;
      padding-left: 0;
      font-size: 18px;
    }

    .dog-description {
      font-size: 16px;
      color: rgb(145, 145, 145);
      align-items: flex-end;
      padding-top: 10px;
    }

    .dog-breed {
      font-size: 16px;
      color: rgb(83, 83, 83);
    }
  }

  .card-img-dog-dash {
    width: 300px;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-description-dash {
    width: 70%;
    margin: 24px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 2;
  }


  .card-title {
    // min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card-name {
    }

    .card-price {
      font-size: 35px;
      display: flex;
      color: #e95800;

      .price-currency {
        font-size: 15px;
      }

    }
  }
}
