// Specific CSS for your home-page
h1 {
  // padding-top: 120px;
  font-size: 60px;
}

.background-image {
  background-image: url('https://res.cloudinary.com/dlu9wclb0/image/upload/v1605702455/background-image-gris_xokume.jpg');
  background-size: cover;
  // background-repeat: repeat;
  background-position:center center;
}

.home-container {
  height: calc(100vh - 20px)
}
