<div class="container">

  <h1>Modifier votre page toutou pour <%= @dog.name %></h1>

  <%= render "form" %>
  <%# @ ajouter après avoir créer le dogs#destroy%>
  <%#<%= link_to "Supprimer la page toutou de #{@dog.name}", dog %>
</div>
