<div class="container">
  <h1>Les chiens près de chez vous</h1>

  <div class="cards">
  <% @dogs.each do |dog| %>
    <div class="card-trip">
      <%= cl_image_tag dog.picture.key, crop: :fill %>
      <h2><%= link_to dog.name, dog %></h2>
    </div>
  <% end %>
  </div>

</div>
