<!-- <footer class="page-footer font-small footer">

  <div class="footer-copyright text-center py-3">Un site développé par
    <%= cl_image_tag "logo-opoil-v2", class: "navbar-brand ", width: 100%>
  </div>

  </footer>

!-- Footer -->

<footer class="page-footer">
<div class="row">
  <div class="col"></div>
  <div class="col  pb-4"><ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
<!--       <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li> -->
    </ul></div>
  <div class="col">    <div class="footer-copyright">Un site développé par
    <%= cl_image_tag "logo-opoil-v2", width: 80%>
  </div></div>
  <div class="col"></div>
</div>
</footer>
<!-- Footer -->
