<%# ACCEPT/DENY WALKS %>
<%= render "acceptwalks" %>

<h1 class="text-center padding">Mon espace personnel</h1>

<%# ONGLET WALKS %>
<%= render "walks" %>



<%# Si la demande est en attente %>

<%# ONGLET DOGS %>
<%= render "dogs" %>

<%# ONGLET MY DOGS WALKS %>
<%= render "mydogswalks" %>
