<%# ACCEPT/DENY WALKS %>
<%= render "acceptwalks" %>

<h1 class="text-center padding">Mon espace personnel</h1>

<div class="container my-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <%# ONGLET WALKS %>
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mes promenades</a>
    </li>
    <%# ONGLET DOGS %>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mes chiens</a>
    </li>
    <%# ONGLET MY DOGS WALKS %>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Les promenades de mes chiens</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <%= render "walks" %>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <%= render "dogs" %>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <%= render "mydogswalks" %>
    </div>
  </div>
</div>
