.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
  height: 60px;
  // background: #f3efe9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

