.walk-request {
  width: 100vw;
  height: 100vh;
  padding: 50px 0px;
}

.user-card-request {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}

.user-card-request-name {
  font-weight: bold;
  font-size: 1.8rem;
}

.walk-request-title {
  font-size: 2.5rem;
}
